# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\User\Documents\Programinhas\vscode\Python\IF_Exercises\Denyel-Santiago-p7info-poo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
